<div>
  <button class="btn btn-danger">Categorias Gerais</button>

  <button class="btn btn-danger">Acessórios</button>

  <button class="btn btn-danger">Peças</button>

  <button class="btn btn-danger">Manutenção</button>

  <button class="btn btn-danger">Diversos</button>

</div>

<div>

  <hr style="margin-top: 40px;">

</div>


<div id="container" style="position: fixed;">
  <div id="nav-menu">
      <div class="bg"></div>
          <div class="teste" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </div>
      <div id="content-menu" tabindex="0">
      <ul>
          <li><a href="#">Marcas</a></li>
          <li><a href="#">Exemplo de Peças</a></li>
          <li><a href="#">Nosso endereço</a></li>
          <li><a href="#">Ajuda</a></li>
      </ul>
      </div>
  </div>
</div>
